---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="/favicon.png">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Katie's Klean - Office Cleaning in London</title>
  <meta name="title" content="Katie's Klean - Office Cleaning in London"/>
  <meta name="description" content="We provide office cleaning services in London to a wide range of clients. From small to medium sized companies, to large multinationals and blue chip PLC's."/>

  <!--Open Graph meta -->
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:title" content="Katie's Klean - Office Cleaning in London" />
  <meta property="og:description" content="We provide office cleaning services in London to a wide range of clients, from small to medium sized companies right up to large multi-nationals and blue chip PLC’s." />
  <meta property="og:image" content="/images/header-640-2x.jpg" />

  <meta name="twitter:card" content="summary_large_image" />

  <!-- Google analytics -->
  {% if site.environment == 'production' %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics_account }}"></script>
  <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.analytics_account }}');
  </script>
  {% endif %}

  <!-- Critical CSS -->
  <style>
    {% include critical.css %}
  </style>

  <!-- Font face observer magic -->
  <script>
    if(sessionStorage && sessionStorage.fontsLoaded){
        var html = document.documentElement;
        html.classList.add("fonts-loaded");
    }
  </script>
</head>
<body>
<main>
  <div class="container welcome">
    <div>
      <div class="welcome-logo">
        {% include logo.svg %}
      </div>
      <div class="welcome-header">
        <h1>Office Cleaning in London</h1>
      </div>
      <div class="welcome-sub-header">
        <h2>High quality service at a cost clients can afford</h2>
      </div>
    </div>
  </div>
  <div class="container about-us">
    <div class="row">
      <div class="col-lg-6 about-us-text">
        <h2>About Katie's Klean</h2>
        <p>We provide office cleaning services in London to a wide range of clients. From small to medium sized companies, to large multinationals and blue chip PLC's we will adapt our cleaning services to suit your needs.</p>
        <p>After discussing and understanding your requirements we'll design the perfect office cleaning specification to deliver the very best service. We strive for cleaning excellence, enhancing the fabric of your building, whilst reducing environmental impact.</p>
        <p>Whatever your business, organisation or sector you will always receive a superior service and first class results. Katie's Klean are the obvious choice for office cleaning in London.</p>
      </div>
      <div class="col-lg-6 about-us-picture">
        <div class="picture"></div>
      </div>
    </div>
  </div>
  <div class="container our-services">
    <h2>Our Services</h2>
    <p>Every business should have clean and inviting surroundings to provide a healthy and effective working environment for their staff. This belief runs right through the core of our company and into what we deliver for our customers. Besides our traditional cleaning services, we also offer a complete range of support services.</p>
    <div class="service-list">
      <div class="row">
        {% include service-element.html text="Daily office cleaning" icon="daily-office-cleaning" %}
        {% include service-element.html text="Residential cleaning" icon="residential-cleaning" %}
        {% include service-element.html text="Common area cleaning" icon="common-area-cleaning" %}
        {% include service-element.html text="Carpet and upholstery cleaning" icon="carpet-cleaning" %}
        {% include service-element.html text="Window cleaning" icon="window-cleaning" %}
        {% include service-element.html text="Washroom and feminine hygiene" icon="washroom-cleaning" %}
        {% include service-element.html text="Washroom supplies" icon="washroom-supplies" %}
        {% include service-element.html text="End of tenancy for offices" icon="end-of-tenancy-for-offices" %}
      </div>
    </div>
  </div>
  <div class="container why-choose-us">
    <div class="row">
      <div class="col-lg-6 why-choose-us-1">
        <div class="row">
          <div class="col-sm-3 why-choose-us-icon">
            {% include why-choose-us.svg %}
          </div>
          <div class="col-sm-9 align-self-center">
            <span>Our customers choose us because we are a well-trusted, established business providing a range of services and benefits.</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 why-choose-us-2">
        <div class="row">
          <div class="col-sm-3 why-choose-us-icon">
            {% include why-choose-us-2.svg %}
          </div>
          <div class="col-sm-9 align-self-center">
            <span>We provide an affordable, trustworthy, personal service, and pride ourselves on our attention to detail. Whether you are a one-off or  long term, regular customer, we will always deliver the highest level quality service.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container why-us">
    <h2>Why us?</h2>
    <div class="reason-list">
      <div class="row">
        {% include reason-element.html text="Fair, friendly and flexible" icon="fair" %}
        {% include reason-element.html text="Honest, friendly, reliable workers" icon="honest" %}
        {% include reason-element.html text="Competitive rates" icon="reasonable" %}
        {% include reason-element.html text="Fully insured services" icon="insured" %}
      </div>
    </div>
  </div>
  <div class="container footer">
    <div class="row">
      <div class="col-12 col-lg-6 address">
        <address>
          <div class="address-element">
            <div class="address-icon">{% include phone.svg %}</div>
            <span>077 2522 9567</span>
          </div>
          <div class="address-element">
            <div class="address-icon">{% include email.svg %}</div>
            <span>info@katiesklean.co.uk</span>
          </div>
          <div class="address-element">
            <div class="address-icon">{% include map.svg %}</div>
            <span>10 Studley Avenue, E4 9PS, London</span>
          </div>
        </address>
      </div>
      <div class="col-12 col-lg-6 copyright">
        <div class="copyright-logo">
          {% include logo.svg %}
        </div>
        <div class="copyright-text">
          <span>Copyright © 2018 Katie's Klean Ltd</span>
        </div>
        <div class="copyright-text">
          <span>All rights reserved.</span>
        </div>
      </div>
    </div>
  </div>
</main>
{% include deferred-resources.html %}
</body>
</html>